*{
    font-family: 'Balthazar';
    max-width: 100vw;
    max-height: 100vh;
}

/*body styles*/
body{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 41% 1fr 6%;
    grid-template-columns: 0.75fr 1fr 0.5fr;

    grid-template-areas: "header header header"
                        "controls controls controls"
                         ". game ."
                        "footer footer footer";

    background-color: #800000;
}

h2{
    text-align: start;
}

/* Header styles */
header{
    background-color: rgb(153, 153, 153);
    grid-area: header;
    border-bottom: 5px solid gray;
}

.nav-item a{
    color: black;
}

/* Credits and class name */
footer{
    border-top: 5px solid gray;
    display: flex;
    background-color: rgb(153, 153, 153);
    justify-content: space-between;
    grid-area: footer;
}

footer *{
    font-size: 2vh;
    margin: 1.5vh;
}

/* Player button controls styles
    test-buttons will be replaced later when I start working
    on the javascript.
*/

div.buttons{
    background-color:rgb(153, 153, 153);
    padding: 0rem;
    border: 5px solid gray;
    width: 100vw;
    height: 100%;
    grid-area: controls;
}

button{
    align-self: center;
    background-color: #9C0000;
    color: white;
    border: 3px solid maroon;
    border-radius: 1rem;
}

button:hover{
    transition: background-color 0.2s ease-in;
    background-color: maroon;
}

button:active{
    transition: background-color 0.1s ease-in;
    background-color: black;
}

#game-place{
    grid-area: game;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

/* Name area prompt styles */

div#confirm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    ; 
    align-items: center;
    grid-template-areas: "heading confirm"
                         "stats stats";
    visibility: hidden;
    height: 80%;
}


div#header{
    height: 100%;
    width: 40%;
    display: grid;
    align-items: center;
    justify-self: center;
    grid-area: heading;
}

div#header input{
    border: 5px solid #9C0000;
    text-align: center;
}

div#header h2{
    text-align: center;
}

div#confirm>div{
    justify-self: center;
    font-size: 1rem;
}
div#confirm button{
    height: 100%;
    width: 50%;
    margin-top: 3.5rem;
    justify-self: center;
}
div#confirm h2{
    width: auto;
}

div#confirm button{
    width: 25%;
    height: 50%;
    grid-area: confirm;
}

#name_area{
    border-radius: 10px;
}

/*skill point styles */
#stats{
    width: 80%;
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    margin-top: 2rem;
}

#stats input{
    background-color:#9C0000;
    color: white; 
    border: 3px solid maroon;
    text-align: center;
    max-width: 60%;
    min-width: 30%;
}
#stats div.stat{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

/*Main game styles (for upgrade tabs)*/
div#main_controls{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr;
    grid-template-areas: "tab tab tab"
                        "buttons buttons buttons";
}

div#tabs{
    grid-area: tab;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-self: center;
    align-items: center;
}

div#tabs *{
    margin: 0rem;
    padding: 0.5rem;
    align-self: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*used for the upgrade modules found when the user
enters the main game*/
div#character_upgrade, div#generator_section, div#plrStats, div#shop{
    border-top: 5px solid gray;
    margin-top: 1rem;
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-content: center;
    align-items: center;
    
}

div#character_upgrade button{

    min-height: 60%;
    max-height: 60%;
    margin-left: .5rem;
    margin-right: .5rem;
}

div button{
    height: 55px;
}


div#character_upgrade p{
    height: auto;
    text-align: center;
}

div#character_upgrade div{
    height: auto;
}

div#tabs{
    margin-top: .5rem;
}


div#generator_section div, div#shop div{
    display:grid;
    text-align: center;
    margin: 0.5rem;

}

div#plrStats div{
    display: grid;
    width: 16.6vw;
}

/* information popup for stats */
button#information{
    border: 5px solid black;
    border-radius: 20rem;
    justify-self: center;
    align-self: center;
    margin-bottom: 0.5rem;
    padding-left: 1vw;
    padding-right: 1.25vw;
}

/* Formats for player information section */

div.player_info{
    margin: 0rem;
    align-self: flex-start;
    height: 100%;
    width: 80%;
    border-left: 1px solid gray;
}

div.player_info h2, div.player_info p{
    font-size: 1.75vw;
    text-align: center;
    align-self: flex-start;
}

div.player_info p{
    font-size: 1.25vw;
}


@media screen and (max-height: 750px){
    footer{
        visibility: hidden;
    }
}

@media screen and (max-width: 700px){
    div.player_info p{
        font-size:  1.7vw;
    }
}




