
.project-panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "project project-alt";

    scroll-margin-top: 250px;
}

@media (max-width: 950px) {
    .project-panel{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "project";
    }
}

.container-fluid a{
    color: #EFEBE9;
}

.btn{
    border-color: black;
    background-color: #35405F !important
}

.btn:hover{
    background-color: #1f2638 !important
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.social-button:hover {
    background-color: #0056b3;
    color: transparent;
    text-decoration: none;
  }

.imgWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s ease;

    color: transparent;
  }

.resButtonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp{
    height: 75% !important;
    width: 75% !important;

    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40vw;
}

.left{
    margin-right: 7rem;
    justify-self:center;
    grid-area: project-alt;
}

.right{
    margin-left: 7rem;
    justify-self:center;
    grid-area: project;
}




@media (max-width: 950px) {
    .project-panel{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "project";
        position: relative;
    }
    .left{
        justify-self:center;
        grid-area: project;
        position: relative;
        right: 29%;

    }
    
    .right{
        justify-self:center;
        grid-area: project;
        position: relative;
        right: 29%;
    }
}

@media (max-width: 768px) {
    .left{
        right: 33%;

    }
    
    .right{
        right: 33%;
    }
}



@media (max-width: 1500px) {
    .project-panel{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "project";
    
        scroll-margin-top: 250px;
    }

    .left{
        justify-self:center;
        grid-area: project;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    
    .right{
        justify-self:center;
        grid-area: project;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .card{
        width: 50vw;
    }
    
}

@media (max-width: 1150px) {
    .left{
        justify-self:center;
        grid-area: project;
        margin-left: 5rem;
        margin-right: 0rem;
    }
    
    .right{
        justify-self:center;
        grid-area: project;
        margin-right: 0rem;
        margin-left: 5rem;
    }
    
}

.contact-label{
    grid-area: contact;
    justify-self: Center;
    margin: 2rem;
    font-size: 2.5rem;
}

@media (max-width: 950px) {
    .left{
        grid-area: project;
        margin: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .right{
        margin: 0rem;
    }

    .card{
        width: 80vw;
    }

    .fa-5x{
        font-size: 6rem;
    }

    .contact-label{
        margin-bottom: 1rem;
    }

}

.first{
    margin-top: 2rem;
}

.bottom{
    margin-bottom: 2rem;
}

.card-body{
    background-color: #EFEBE9;
}
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

