.project-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "project project-alt";

    scroll-margin-top: 250px;
}

@media (max-width: 950px) {
    .project-panel {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "project";
    }
}

.container-fluid a {
    color: #EFEBE9;
}

.btn {
    border-color: black;
    background-color: #35405F !important
}

.btn:hover {
    background-color: #1f2638 !important
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.social-button:hover {
    background-color: black;
    color: white !important;
    color: transparent;
    text-decoration: none;
}

.social-button:hover i {
    color: white;
}



.imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.sectionHeader h4 {
    position: absolute;
    left: 20%;
}

.social-button {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #007bff;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    font-size: 30px;
    transition: background-color 0.3s ease;

    color: transparent;
}

.back-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s ease;

    color: transparent;

    position: fixed;

    top: 90%;
    left: -10%;

    opacity: 70%;


}

.back-button i {
    color: white;
}

.hidden {
    animation: slide-back 1.0s forwards;
}

.shown {
    animation: slide 0.5s forwards;
}

@keyframes slide {
    100% {
        left: 1.5%;
    }
}

@keyframes slide-back {
    100% {
        left: -100%;
    }
}


.back-button:hover {
    background-color: white;
    color: black !important;
    color: transparent;
    text-decoration: none;
}

.back-button:hover i {
    color: black;
}

.resButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp {
    height: 75% !important;
    width: 75% !important;

    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 5px gray;

}

.card {
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40vw;

    border: 2px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: transform .2s;

    box-shadow: 0 0 20px black;


}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px black;
}

.projectSection {
    width: 100%;
}



.left {
    justify-self: center;
    grid-area: project-alt;
}

.right {
    justify-self: center;
    grid-area: project;
}

.about-me-content {
    height: 95%;
    position: relative;
    top: -5%
}

.about-me-content p{
    margin: 3rem;
    margin-top: 0;
    font-size: 1.1rem;
}

.title{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 4rem;

    text-align: center;

    padding: 1.5rem;
}

.education-info{
    display: grid;

    grid-template-areas: "img gpa"
                          "img degree";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 2rem;
}

@media (max-width: 960px){
    .education-info{
        grid-template-areas: "img"
                             "degree"
                             "gpa";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .education-info img{
        padding: 0rem !important;
        margin: 0rem !important;
    }

    .education-info #gpa{
        text-align: center; 
        font-size: 1.5rem;
    }

    .education-info #degree{
        text-align: center;
        font-size: 1.5rem;
    }

    .edu-title{
        margin: 0rem !important;
        padding: 0rem !important;
    }
}

.education-info img{
    grid-area: img;
    align-self: center;
    justify-self: center;
    padding-right: 2rem;
    padding-left: 4rem;
}

.edu-title{
    margin-bottom: 1rem !important;
    padding: 0rem !important;
}

.education-info #gpa{
    margin: 0rem;
    padding: 0rem;
    align-self: center;
}

.education-info #degree{
    margin: 0rem;
    align-self: center;
}

.centered-div{
    width: 90%;
    height: 95%;
    position: relative;
    top: 10%;
    left: 5%;

    background-color: #EFEBE9;
    background:
        linear-gradient(135deg, #0000 18.75%, #e7e7e7 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #e7e7e7 -6.25% 6.25%, #cecece 0 18.75%);
    background-size: 152px 152px;

    box-shadow: 0px 0px 250px 250px rgba(0, 0, 0, 0.2);

    border-radius: 10px;

    color: black !important;

    border: 3px solid black;
}


@media (max-width: 1600px) {
    .social-button {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1500px) {
    .project-panel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "project";

        scroll-margin-top: 250px;
    }

    .left {
        justify-self: center;
        grid-area: project;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .right {
        justify-self: center;
        grid-area: project;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .card {
        width: 50vw;
    }

}

ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center !important;

    border: 5px solid black;
}

li{
    margin: 0.5rem;
}

.langTitle, .toolTitle{
    margin-left: 0rem !important;
    margin-top: 2rem !important;
}

@media (max-width: 1300px){
    .title{
        font-size: 3rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
}

@media (max-width: 1150px) {
    .left {
        justify-self: center;
        grid-area: project;
    }

    .right {
        justify-self: center;
        grid-area: project;
    }
}

.contact-label {
    grid-area: contact;
    justify-self: Center;
    margin: 2rem;
    font-size: 2.5rem;
}

@media (max-width: 950px) {
    .left {
        grid-area: project;
        margin: 0rem;
    }

    .card {
        width: 80vw;
    }

    .fa-5x {
        font-size: 6rem;
    }

    .contact-label {
        margin-bottom: 1rem;
    }

    .social-button {
        width: 70px;
        height: 70px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .social-button i {
        font-size: 2.5rem;
        padding-bottom: 2.5rem;
    }

    @keyframes slide {
        100% {
            left: 1.5%;
        }
    }

    @keyframes slide-back {
        100% {
            left: -100%;
        }
    }

}

.first {
    margin-top: 2rem;
}

.bottom {
    margin-bottom: 2rem;
}

.sectionHeader {
    text-align: center;
}



.sectionHeaderHr {
    border: none;
    position: relative;
    top: 43px;
    margin-left: 30px;
    margin-right: 35px;

    background-color: gray;

    z-index: 0;

    border: 0;
    height: 0;
    box-shadow: 0 0 20px 5px black;
}

.sectionHeaderH3 {
    position: relative;
    z-index: 200;
    font-size: 3rem !important;
}

.card-body {
    background-color: #EFEBE9;
    background:
        linear-gradient(135deg, #0000 18.75%, #e7e7e7 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #e7e7e7 -6.25% 6.25%, #cecece 0 18.75%);
    background-size: 152px 152px;

    box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.2);

    color: black !important;

}


.resumeBtn {
    width: 350px;
    height: 50px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.resumeBtn:hover {
    background-color: #fff;
    color: #000;
}


.card-text {
    font-size: 1.2rem;
}

.my-name {
    display: block;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;

    margin-bottom: 2rem !important;
    text-decoration: none !important;

    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.seen {
    position: absolute;
    width: 100%;
    height: 70%;
    margin: 0rem;
    left: 0;
    background-color: black;
    top: 30%;

    opacity: 0.8;

    box-shadow: 0 0 25px black;

}