body{
    display: flex; 
    flex-direction: column;
    gap: 0px 0px; 
}

p, a{
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h5{
    font-size: 2rem;
    font-family: 'Lalezar', cursive;
}

a{
    color: #d5d6d5;
    font-size: 1.5rem;
}

a:hover{
    color: #9bb1ed !important;
}

header a{
    margin-left: 1rem;
    color:#d5d6d5 !important; 
}

header i{
    margin: 0rem;
    padding: 0rem;
}

header button{
    margin-right: 1rem;
}

body{
    background-color: #d5d6d5 !important;
    width: 100%;
    height: 100%;
    
}


i:focus{
    outline:none; border-style: none;    
}

i:hover{
    text-shadow: 0 0 150px black;
    color: black;
}

i{
    color: white;
    transition: color 0.2s ease-out;
    transition: text-shadow 0.2s ease-out;
    padding-bottom: 2rem;
    height: 25%;
}










