#particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: radial-gradient(#353535AA, #222222);
    z-index: 0;

}

body {
    height: 100% !important;

}

#showcase h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

#tools-header {
    width: 50%;
    border-left: 3px solid black;
    height: 100% !important;
}

#lang-header {
    width: 50%;
    border-right: 3px solid black;
}

#skill-header-wrapper {
    display: flex;
    text-align: center;
}

#list-languages img,
#list-tools img {
    max-width: 75px;
    max-height: 85px;
    min-width: 75px;
    min-height: 75px;
    transition: transform 0.2s;
}

#list-languages ul,
#list-languages li,
#list-tools ul,
#list-tools li {
    overflow: visible !important;
}

#list-languages,
#list-tools {
    margin: 0rem !important;
    padding: 0rem !important;
}

#list-languages img:hover,
#list-tools img:hover {
    transform: scale(1.15);
}

#about h2 {
    grid-area: header;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

#about p {
    padding-top: 0rem;
    font-size: 1.25rem;
    text-align: justify;
    text-align: center;
    margin-bottom: 4rem;
}


#contact-left {
    grid-area: email;
    justify-self: center;
    transition: transform 0.2s;
}

#my-desc {
    color: white;
}

#no-move {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;

    background-color: black;

    /* Fade border to the right, fades to the top and bottom */
    background:
        linear-gradient(180deg, white 30%, rgba(255, 255, 255, 0)) repeat,
        linear-gradient(90deg, black 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0)) no-repeat,
        linear-gradient(90deg, rgba(255, 255, 255, 0) 5px, black 5px, black 6px, rgba(255, 255, 255, 0) 6px, rgba(255, 255, 255, 0)) no-repeat;

    background:
        conic-gradient(from -60deg at 50% calc(100%/3), #9a9a9a 0 120deg, #0000 0),
        conic-gradient(from 120deg at 50% calc(200%/3), #9a9a9a 0 120deg, #0000 0),
        conic-gradient(from 60deg at calc(200%/3), #9a9a9a 60deg, #676767 0 120deg, #0000 0),
        conic-gradient(from 180deg at calc(100%/3), #343434 60deg, #9a9a9a 0 120deg, #0000 0),
        linear-gradient(90deg, #343434 calc(100%/6), #676767 0 50%,
            #343434 0 calc(500%/6), #676767 0);
    background-size: 66px 38px;

    /* Webkit (Safari) specific prefix */
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);



    border-left: 3px solid black;


}

#about-me-section,
#project-desc-section {
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#about-me-section p {
    font-size: 1.25vw;
    margin-top: -.5rem;
}

#project-desc-section .centered-div {
    margin-top: 2rem;
}


#project-desc-section h1,
#about-me-section h1 {
    color: black;
}

#project-desc-section .title {
    text-align: center;
    align-self: center !important;
    margin: 0rem !important;
    padding: 0rem !important;
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
} 


#project-desc-section p {
    grid-area: desc;
    padding: 0rem !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px !important;
    justify-self: center !important;

    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    align-self: start !important;
}


@media (max-width: 600px) {
    #project-desc-section .imgWrapper {
        width: 100%;
    }
}

#project-desc-section .embed-responsive {
    grid-area: video;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    width: 60%;
}

#project-desc-section .resButtonWrapper {
    grid-area: btn;
    margin: 0rem !important;
    width: 300px;
    justify-self: center;
}

#project-desc-section .centered-div {
    border: 5px solid black;
    display: grid;
    grid-template-areas: "header header"
        "video video"
        "btn btn"
        "desc img"
        "desc img";

    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.4fr 1fr .2fr;
    align-items: center !important;
}



#project-desc-section button {
    margin: 1rem;
}

#projects,
#about-me-section,
#project-desc-section,
#footer {
    scroll-margin-top: 100px;
    width: 66.7%;
    z-index: 2;
}

#project-desc-section .imgSection {
    grid-area: img;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    margin-right: .5rem !important; 
    justify-content: center;
}

#project-desc-section .imgSection img {
    justify-self: center;
}

#project-desc-section .imgSection * {
    margin: 0rem !important;
}

#project-desc-section .imgSection img {
    margin: 2rem;
}

@media (max-width: 1500px) {

    #about-me-section p,
    #project-desc-section p {
        margin: 0rem;
        font-size: 1.5vw;
    }

    #project-desc-section .centered-div {
        grid-template-areas: "header header"
            "video video"
            "btn ."
            "desc desc"
            "img img";
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr;
    }

    #project-desc-section button {
        margin: 1rem;
    }

    #project-desc-section h1 {
        text-align: center !important;
        font-size: 3rem !important;
    }

    #project-desc-section p {
        font-size: 1rem !important;
    }

    #project-desc-section .resButtonWrapper {
        margin-top: 2rem;
    }

}

@media (max-width: 1150px) {
    #no-move {
        width: 40%;
    }

    #projects,
    #about-me-section,
    #project-desc-section,
    #footer {
        width: 60%;
    }

    #project-desc-section .centered-div {
        grid-template-areas: "header header"
            "video video"
            "btn btn"
            "desc desc"
            "header2 header2"
            "img img";
    }

    #project-desc-section .resButtonWrapper {
        margin: 1rem !important;
    }

    #about-me-section h1,
    #project-desc-section h1 {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        font-size: 3rem !important;
    }
}

@media (max-width: 950px) {
    #no-move {
        position: relative;
        width: 100%;
        height: 50%;
    }

    #projects,
    #about-me-section,
    #project-desc-section,
    #footer {
        width: 100%;
    }

    #about-me-section,
    #project-desc-section {
        height: 100%;
    }

    #about-me-section p,
    #project-desc-section p {
        margin: 0rem;
    }

    #about-me-section h1,
    #project-desc-section h1 {
        margin-top: 0rem !important;
        margin-bottom: 0rem;
    }
}

@media (max-width: 600px) {
    #project-desc-section .imgSection {

        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);

    }
}


#contact-left:hover,
#contact-right:hover,
#contact-middle:hover {
    transform: scale(1.1);
}

#contact-right {
    grid-area: discord;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-middle {
    grid-area: linkedin;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-right,
#contact-left,
#contact-middle {
    height: 50%;
}

#footer {
    margin: 0rem;
    padding: 0rem;
    justify-self: end;
    grid-area: "footer";
    justify-self: left;
}


@media screen and (max-width: 700px) {
    #project-desc-section .title {
        font-size: 2rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    #project-desc-section button {
        width: 250px !important;
    }
}

@media (min-width: 950px) {
    body {
        display: grid;
        grid-template-rows: 99fr .1%;
        grid-template-areas: "normal"
            "footer";
    }
}