
#showcase h2{
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

/* #about{
    margin: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    grid-template-rows: 1fr 3fr;

    grid-template-areas:
        "icons icons"
        "image "
        "image desc";

    background-color: #EFEBE9;
    color: black;

    scroll-margin-top: 150px;
} */


#about h2{
    grid-area: header;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

#about p{
    padding-top: 0rem;
    font-size: 1.25rem;
    text-align: justify;
}


#contact-left{
    grid-area: email;
    justify-self: center;
    transition: transform 0.2s;
}

#no-move{
    position: fixed;
}

@media (max-width: 950px) {
    #no-move{
        position: relative;
    }
}

#resumeBtn{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

#resumeBtn:hover{
    background-color: #fff;
    color: #000;
}

#contact-left:hover, #contact-right:hover, #contact-middle:hover{
    transform: scale(1.1);
}

#contact-right{
    grid-area: discord;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-middle{
    grid-area: linkedin;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-right, #contact-left, #contact-middle{
    height: 50%;
}

#projects{
    scroll-margin-top: 100px;
}