

#showcase h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

#tools-header{
    width: 50%;
    border-left: 3px solid black;
    height: 100% !important;
}
#lang-header{
    width: 50%;
    border-right: 3px solid black;
}
#skill-header-wrapper{
    display: flex;
    text-align: center;
    border: 1px solid black;
}
#about h2 {
    grid-area: header;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

#about p {
    padding-top: 0rem;
    font-size: 1.25rem;
    text-align: justify;
    text-align: center;
    margin-bottom: 4rem;
}


#contact-left {
    grid-area: email;
    justify-self: center;
    transition: transform 0.2s;
}

#my-desc{
    color: white;
}

#no-move {
    position: fixed;
    bottom: 0;
    right: 0;

    /* Fade border to the right, fades to the top and bottom */
    background:
        linear-gradient(180deg, white 30%, rgba(255, 255, 255, 0)) repeat,
        linear-gradient(90deg, black 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0)) no-repeat,
        linear-gradient(90deg, rgba(255, 255, 255, 0) 5px, black 5px, black 6px, rgba(255, 255, 255, 0) 6px, rgba(255, 255, 255, 0)) no-repeat;

        background:
      conic-gradient(from -60deg at 50% calc(100%/3),#9a9a9a 0 120deg,#0000 0),
      conic-gradient(from 120deg at 50% calc(200%/3),#9a9a9a 0 120deg,#0000 0),
      conic-gradient(from  60deg at calc(200%/3),#9a9a9a 60deg,#676767 0 120deg,#0000 0),
      conic-gradient(from 180deg at calc(100%/3),#343434 60deg,#9a9a9a 0 120deg,#0000 0),
      linear-gradient(90deg,#343434 calc(100%/6),#676767 0 50%,
      #343434 0 calc(500%/6), #676767 0);
background-size: 66px 38px;



        border-left: 3px solid black;

}

#about-me-section{
    height: auto;
    margin-bottom: 5rem !important;
    margin-top: 3rem;
}

#about-me-section p{
    font-size: 2.5vh;
}

#projects, #about-me-section {
    scroll-margin-top: 100px;
    width: 66.5%;
}

@media (max-width: 1365px){
    #about-me-section p{
        margin: 0rem;
        font-size: 2.1vh;
    }
}

@media (max-width: 1150px) {
    #no-move {
        width: 40%;
    }

    #projects, #about-me-section {
        width: 60%;
    }

    #about-me-section h1{
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 950px) {
    #no-move {
        position: relative;
        width: 100%;
        height: 50%;
    }

    #projects, #about-me-section {
        width: 100%;
    }
    
    #about-me-section{
        height: 100%;
    }

    #about-me-section p{
        margin: 0rem;
        font-size: 10pt;
    }

    #about-me-section h1{
        margin-top: 1rem !important;
        margin-bottom: 0rem;
        font-size: 2rem;
    }
}


#contact-left:hover,
#contact-right:hover,
#contact-middle:hover {
    transform: scale(1.1);
}

#contact-right {
    grid-area: discord;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-middle {
    grid-area: linkedin;
    justify-self: center;
    transition: transform 0.2s;
}

#contact-right,
#contact-left,
#contact-middle {
    height: 50%;
}